.Todo {
  color: #000;
  font-style: italic;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: yellow;
  border-width: medium;
  margin: 5px 0;
}

.Todo:hover {
  cursor: pointer;
  background: yellow;
}
